body {background-color:antiquewhite; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    margin: 5% ;}


header {background-color:aliceblue; 
    color:black; 
    text-align: justify; 
    padding: 10%;}


h2 {color:blueviolet; 
    border-bottom: 10; 
    padding-bottom:10%;}


section {margin: auto; 
    padding: 15%; 
    border-radius: 20%; 
    box-shadow: inset; }


table {border-collapse: separate ; 
    width: fit-content;}


th {border: 7%; 
    padding: 1%; 
    text-align:center}


td {border: 7%; 
    padding: 1%; 
    text-align:center }


button {background-color: chartreuse; 
    color: cornflowerblue; 
    border-radius: 15%; 
    cursor: auto; :hover} 
    